In [38]:
import requests
import pandas as pd
import io
url = "http://finance.google.com/finance/historical"
def get_params(start,symbol):
    params = {}
    params['q'] = symbol
    params['startdate'] = start
    params['output'] = 'csv'
        
    return params

In [39]:
r=get_params('2005-01-01','AAPL')

In [40]:
r_1= requests.get(url, params=r)
c=io.StringIO(r_1.text)
df=pd.read_csv(c)

In [41]:
df.head()

        Date    Open    High     Low   Close    Volume
0   1-Dec-17  169.95  171.67  168.50  171.05  39759288
1  30-Nov-17  170.43  172.14  168.44  171.85  41527218
2  29-Nov-17  172.63  172.92  167.16  169.48  41666364
3  28-Nov-17  174.30  174.87  171.86  173.07  26428802
4  27-Nov-17  175.05  175.08  173.34  174.09  20716802